<form (ngSubmit)="submit()">
  <fieldset>
    <legend>Form</legend>
    <div>
      <label for="name">Name:</label>
      <app-input-text
        type="text"
        name="name"
        [required]="true"
        placeholder="complete with your name">
      </app-input-text>
    </div>
    <div>
      <label for="email">Email:</label>
      <app-input-text
        type="email"
        name="email"
        [required]="true"
        placeholder="complete with your e-mail">
      </app-input-text>
    </div>
    <div>
      <label for="password">Password:</label>
      <app-input-text
        type="password"
        name="password"
        [required]="true"
        autocomplete="new-password"
        placeholder="complete with a password">
      </app-input-text>
    </div>
    <div>
      <label for="confirm-password">Confirm Password:</label>
      <app-input-text
        type="password"
        name="confirm-password"
        autocomplete="new-password"
        [required]="true"
        placeholder="Confirm the password">
      </app-input-text>
    </div>
  </fieldset>
</form>
