<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <fieldset>
      <legend>
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="bootstrap-icons.svg#calculator"/>
        </svg>
        <span> Form </span>
      </legend>
      <div class="mb-3">
        <app-input-text
          label="Name"
          type="text"
          formControlName="name"
          [required]="true"
          placeholder="complete with your name">
        </app-input-text>
      </div>
      <div class="mb-3">
        <app-input-text
          label="Email"
          type="email"
          name="email"
          formControlName="email"
          [required]="true"
          autocomplete="username"
          placeholder="complete with your email">
        </app-input-text>
      </div>
      <div class="mb-3">
        <app-input-text
          label="Password"
          type="password"
          formControlName="password"
          [required]="true"
          autocomplete="new-password"
          placeholder="complete with a password">
        </app-input-text>
      </div>
      <div class="mb-3">
        <app-input-text
          label="Confirm Password"
          type="password"
          formControlName="confirmPassword"
          autocomplete="new-password"
          [required]="true"
          placeholder="Confirm the password">
        </app-input-text>
      </div>
    </fieldset>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" (click)="reset()"  class="btn btn-secondary">Reset</button>
    </div>
  </form>
</div>
