<label
  [class.text-danger]="hasFeedbackError()"
  [class.text-success]="hasFeedbackSuccess()"
  [for]="id"
  *ngIf="hasLabel()"
  class="form-label"
  [innerHtml]="label">
</label>
<input
  #element
  tabindex="0"
  class="form-control"
  [class.is-invalid]="hasFeedbackError()"
  [class.is-valid]="hasFeedbackSuccess()"
  [type]="type"
  [attr.id]="id || null"
  [attr.autocomplete]="autocomplete || null"
  [attr.placeholder]="placeholder || null"
  [attr.name]="name || null"
  [readonly]="readonly"
  [disabled]="disabled"
  [(ngModel)]="value">
<button
  *ngIf="isNotEmpty()"
  tabindex="0"
  type="button"
  (click)="clearAndFocus()"
  class="button-clear"
  [class.has-feedback]="hasFeedback()">
  <i class="bi-x-lg"></i>
</button>
<button
  *ngIf="hasFeedbackError()"
  tabindex="0"
  type="button"
  (click)="showError()"
  class="button-error"
  title="click here to show error information">
  <span>Info</span>
</button>
