.button-error {
  float: right;
  margin-top: -37px;
  height: 37px;
  width: 37px;
  background-color: transparent;
  border: 0;
  & > span {
    color: transparent;
  }
}

.button-clear {
  background-color: transparent;
  border: none;
  float: right;
  margin-top: -37px;
  height: 37px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  &.has-feedback {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 37px;
  }
}
